@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fauna+One&family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 400vh;
    font-family: 'Fauna One' ,Roboto, sans-serif;
    background-color: rgb(244, 244, 244);
}

.landing-page-section {
    padding: 150px;
    display: flex;
    justify-content: center;
    /* background-color: lightgray; */
    /* background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(9, 200, 168, 0.142));
    height: 40vh; */
    transition: all 2s;
}

.name-box {
    font-family: Roboto, sans-serif;
    /* background-color: lightblue; */
    transition: all 2s;
}

.pre-name, .pre-name2, .post-name {
    margin: 0;
    font-size: 3vw;/* 3em; */
    font-weight: bold;
    padding-left: 5px;
}

.pre-name2 {
    font-size: 1.5vw;
    margin-top: 20px;
    margin-bottom: -0.2vw;/* -5px; */
}

.post-name {
    font-size: 1.5vw;
    margin-top: -0.2vw;/* -5px; */
    text-align: right;
}

.name {
    margin: 0;
    font-size: 2.5vw;  /* 2.5em; */
    font-weight: bold;
    color: rgb(9, 200, 9);
    opacity: 0.5;
    transition: all 0.7s ;
    white-space: nowrap;
}

.name.visible {
    opacity: 1;
    font-size: 5vw; /* 5em */
}

.navigation-section {
    padding: 20px;
}

.software-hardware-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-button, .resume-link {
    text-decoration: none;
    border: 3px solid;
    border-color: white;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 20px;
    width: 45%;
    border-radius: 50px;
    transition: 0.15s;
    text-align: center;
}

.nav-button:hover, .resume-link:hover {
    cursor: pointer;
    border: 3px solid black;
    color: black;
    background-color: white;
}

.about-me-section {
    margin: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-link {
    margin-top: 20px;
    background-color:rgb(9, 200, 9);
    text-transform: none;
    padding: 20px;
    width: 10em;
}

.info-heading {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: Cinzel, Roboto, serif;
}

.info-para {
    font-size: 1em;
    margin-bottom: 10px;
    width: 70%;
    text-align: center;
}

.projects-main-heading {
    font-size: 2em;
    margin: 20px;
    font-family: Cinzel, Roboto, serif;
}

.electronics, .software {
    margin: 40px;
    padding-top: 20px;
    margin-bottom: 100px;
    transition: all 0.5s;
}

.project-container {
    background-color:rgb(9, 200, 9);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 150px;
    text-decoration: none;
    transition: all 0.5s;
}

.project-text-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
}

.heading-container {
    color: white;
    font-size: 1em;
    padding-left: 20px;
    transition: all 0.5s;
}

.paragraph-container {
    flex: 0;
    width: 0;
    height: 0;
    opacity: 0;
    color: black;
    visibility: hidden;
}

.project-image-container {
    flex: 2;
    background-color:rgb(9, 200, 9);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s;
}

.project-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: all 0.5s;
}

.project-container:hover {
    cursor: pointer;
    background-color: white;
    height: 26vw; /*400px*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-container:hover .project-text-container {
    flex: 1.5;
    justify-content: flex-start;
}

.project-container:hover .heading-container {
    color:rgb(9, 200, 9);
    margin-bottom: 2vw; /*30px*/
    font-size: 2vw;
    padding-top: 1vw;/* 20px; */
}

.project-container:hover .paragraph-container {
    display: block;
    font-size: 1.25vw; /*1.5rem*/
    padding-left: 20px;
    width: auto;
    height: auto;
    visibility: visible;
    max-width: 70%;
    opacity: 1;
}

.project-container:hover .project-image-container {
    flex: 1;
}

.project-container:hover .project-image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.home-button {
    width: 60px;
    height: 80px;
    background-color: black;
    position: fixed;
    bottom: -20px;
    right: 30px;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.15s;
    display: none;
}

.home-button img {
    width: 20px;
    height: auto;
    transition: all 0.5s;
}

.home-button:hover {
    cursor: pointer;
    bottom: 0px;
}



